<!-- Right Navigation LAPTOP -->
<div class="navbar-laptop-darktheme hidden-xs">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand", title: "Retour à l'accueil du e-shop d'Hélène Raynal"  do %>
    HELENE RAYNAL
  <% end %>

  <div class="middle-link">
      <%= link_to ceramiques_path, class: "hidden-sm" do %>
        <span><%= t(:online_store)%></span>
      <% end %>
      <%= link_to ceramiques_path, class: "hidden-md hidden-lg" do %>
        <span><%= t(:online_store_mobile)%></span>
      <% end %>
  </div>

  <!-- Different navigation if login or not -->
  <% if user_signed_in? %>

    <!-- Navbar right when connected -->
    <div class="navbar-item-darktheme">
      <div class="nav-bar-list">
        <% if current_user.admin %>
          <%= link_to agenda_path do %>
            <span>Agenda</span>
          <% end %>
        <% end %>
        <div class="hidden-sm hidden-md">
          <%= link_to root_path do %>
            <span><%=t(:home_page)%></span>
          <% end %>
        </div>
        <%= link_to info_path do %>
          <span><%=t(:about)%></span>
        <% end %>
        <a href="#" id="darktheme-filter-search"><%= image_tag "searchwhite.svg", class: "searchimg"%><%=t(:filter)%></a>
        <%= link_to contact_path do %>
          <span><%=t(:contact)%></span>
        <% end %>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="languages">
          <% if I18n.locale.to_s == "fr" %>
            <%= link_to params.merge(locale: "en", change: true).permit(:locale, :change) do %>
              <%= image_tag "EN.svg", class: "flag"%>
            <% end %>
          <% else %>
            <%= link_to params.merge(locale: "fr", change: true).permit(:locale, :change) do %>
              <%= image_tag "FR.svg", class: "flag"%>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>

  <% else %>
    <div class="navbar-item-darktheme">
      <div class="nav-bar-list">
        <div class="hidden-sm hidden-md">
          <%= link_to root_path do %>
            <span><%=t(:home_page)%></span>
          <% end %>
        </div>
        <%= link_to info_path do %>
          <span><%=t(:about)%></span>
        <% end %>
        <a href="#" id="darktheme-filter-search"><%= image_tag "searchwhite.svg", class: "searchimg"%><%=t(:filter)%></a>
        <%= link_to contact_path do %>
          <span><%=t(:contact)%></span>
        <% end %>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <div class="languages">
          <% if I18n.locale.to_s == "fr" %>
            <%= link_to params.merge(locale: "en", change: true).permit(:locale, :change) do %>
            <%= image_tag "EN.svg", class: "flag"%>
          <% end %>
          <% else %>
            <%= link_to params.merge(locale: "fr", change: true).permit(:locale, :change) do %>
              <%= image_tag "FR.svg", class: "flag"%>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  <% end %>
  </div>

<!-- Right Navigation MOBILE -->
<div class="navbar-mobile-darktheme hidden-sm hidden-md hidden-lg">
 <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand-mobile", title: "Retour à l'accueil du e-shop d'Hélène Raynal" do %>
    Hélène Raynal
  <% end %>

  <div class="navbar-item-darktheme">
    <div class="list-mobile">
      <%= link_to ceramiques_path do %>
        <span><%=t(:shop_link_mobile)%></span>
      <% end %>
      <%= link_to info_path do %>
        <span><%=t(:info)%></span>
      <% end %>
      <%= link_to contact_path do %>
        <span><%=t(:contact)%></span>
      <% end %>
      <% if session[:order].present? %>
        <% if Order.where(id: session[:order]).present? %>
          <% if Order.where(id: session[:order]).first.state != "lost" %>
            <%= link_to order_path(Order.find(session[:order])) do %>
              <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div class="dropdown">
        <a class="dropdown-toggle" type="button" data-toggle="dropdown">
            <%= image_tag "#{I18n.locale.upcase}.svg", class: "flag"%>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-langages">
          <li><%= link_to params.merge(locale: "en", change: true).permit(:locale, :change) do %>
                <%= image_tag "EN.svg", class: "flag"%>
              <% end %>
          </li>
          <li><%= link_to params.merge(locale: "fr", change: true).permit(:locale, :change) do %>
                <%= image_tag "FR.svg", class: "flag"%>
              <% end %>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>
