<!-- Right Navigation LAPTOP -->
<div class="navbar-laptop-darktheme hidden-xs">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand", title: "Retour à l'accueil du e-shop d'Hélène Raynal"  do %>
    HELENE RAYNAL
  <% end %>

  <div class="middle-link">
      <%= link_to ceramiques_path, class: "hidden-sm" do %>
        <span>Boutique céramique en ligne</span>
      <% end %>
      <%= link_to ceramiques_path, class: "hidden-md hidden-lg" do %>
        <span>Boutique en ligne</span>
      <% end %>
  </div>

  <!-- Different navigation if login or not -->
  <% if user_signed_in? %>

    <!-- Navbar right when connected -->
    <div class="navbar-item-darktheme">
      <div class="nav-bar-list">
        <% if current_user.admin %>
          <%= link_to agenda_path do %>
            <span>Agenda</span>
          <% end %>
        <% end %>
        <div class="hidden-sm">
          <%= link_to root_path do %>
            <span>Accueil</span>
          <% end %>
        </div>
        <%= link_to info_path do %>
          <span>A propos</span>
        <% end %>
        <a href="#" id="darktheme-filter-search"><%= image_tag "searchwhite.svg", class: "searchimg"%> Filtrer</a>
        <%= link_to contact_path do %>
          <span>Contact</span>
        <% end %>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

  <% else %>
    <div class="navbar-item-darktheme">
      <div class="nav-bar-list">
        <div class="hidden-sm">
          <%= link_to root_path do %>
            <span>Accueil</span>
          <% end %>
        </div>
        <%= link_to info_path do %>
          <span>A propos</span>
        <% end %>
        <a href="#" id="darktheme-filter-search"><%= image_tag "searchwhite.svg", class: "searchimg"%> Filtrer</a>
        <%= link_to contact_path do %>
          <span>Contact</span>
        <% end %>
        <% if session[:order].present? %>
          <% if Order.where(id: session[:order]).present? %>
            <% if Order.where(id: session[:order]).first.state != "lost" %>
              <%= link_to order_path(Order.find(session[:order])) do %>
                <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>

<!-- Right Navigation MOBILE -->
<div class="navbar-mobile-darktheme hidden-sm hidden-md hidden-lg">
 <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand-mobile", title: "Retour à l'accueil du e-shop d'Hélène Raynal" do %>
    <%= "#{ENV['FIRSTNAME'][0].capitalize} #{ENV['LASTNAME'][0].capitalize}" %>
  <% end %>

  <div class="navbar-item-darktheme">
    <div class="list-mobile">
      <%= link_to ceramiques_path do %>
        <span>Shop</span>
      <% end %>
      <%= link_to info_path do %>
        <span>A propos</span>
      <% end %>
      <%= link_to contact_path do %>
        <span>Contact</span>
      <% end %>
      <% if session[:order].present? %>
        <% if Order.where(id: session[:order]).present? %>
          <% if Order.where(id: session[:order]).first.state != "lost" %>
            <%= link_to order_path(Order.find(session[:order])) do %>
              <span><%= image_tag "whitecart.svg", class: "lightcart"%></span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
