<% content_for(:description) do %>
  Vente de céramiques et poteries artisanales réalisées par Hélène Raynal. Découvrez dans la boutique mes créations uniques. Vous y retrouverez des céramiques utilitaires et décoratives. Mes créations sont en faïence et calligraphiées au pinceau.
<% end %>
<% content_for(:title_tag) do %>
  Vente en ligne des céramiques contemporaines d'Hélène Raynal
<% end %>

<%= render 'shared/darktheme_home_pics' %>

<div class="jumbotron-darktheme">

<!-- LAPTOP -->

  <div class="banner-darktheme">
    <div class="photo1">
      <%= cl_image_tag @darktheme1photopath, class: "photo1", alt: "Céramiques uniques d'Hélène Raynal : boites en faïence calligraphiées."%>
      <%= photo_update('darktheme1photo', 100, '', '', 30, '.darktheme1photo', "Mise à jour photo d'accueil 1")%>
    </div>
    <div class="photo2">
      <%= cl_image_tag @darktheme2photopath, alt: "Céramiques contemporaines d'Hélène Raynal : paysage abstrait amenant à la paréidolie."%>
      <%= photo_update('darktheme2photo', 100, '', '', 30, '.darktheme2photo', "Mise à jour photo d'accueil 2")%>
    </div>
    <div class="photos3and4">
      <div class="photo3">
        <%= photo_update('darktheme3photo', 100, '', '', 30, '.darktheme3photo', "Mise à jour photo d'accueil 3")%>
      </div>
       <style>
        .photo3 {
          background-image: url(<%= @darktheme3photopath %>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
        }
      </style>
      <div class="photo4">
        <%= cl_image_tag @darktheme4photopath, alt: "Poteries artisanales : Bol en faïence peint à l'or."%>
        <%= photo_update('darktheme4photo', 100, 30, '', '', '.darktheme4photo', "Mise à jour photo d'accueil 4")%>
      </div>
    </div>
     <div class="photo5">
      <%= cl_image_tag @darktheme5photopath, alt: "Céramiques en faïence d'Hélène Raynal : boîtes uniques avec décor onirique."%>
      <%= photo_update('darktheme5photo', 100, 30, '', '', '.darktheme5photo', "Mise à jour photo d'accueil 5")%>
    </div>
    <div class="photo6">
      <%= cl_image_tag @darktheme6photopath, alt: "Céramique utilitaire : tasse avec décor au pinceau."%>
      <%= photo_update('darktheme6photo', 100, 30, '', '', '.darktheme6photo', "Mise à jour photo d'accueil 6")%>
    </div>
    <div class="photo6">
      <%= cl_image_tag @darktheme7photopath, alt: "Poterie utilitaire : grande tasse avec calligraphie"%>
      <%= photo_update('darktheme7photo', 100, 30, '', '', '.darktheme7photo', "Mise à jour photo d'accueil 7")%>
    </div>
    <div class="photos8and9">
      <div class="photo8">
        <%= photo_update('darktheme8photo', 100, 30, '', '', '.darktheme8photo', "Mise à jour photo d'accueil 8")%>
      </div>
      <style>
        .photo8 {
          background-image: url(<%= @darktheme8photopath %>);
          background-size: cover;
          background-position-y: center;
          background-position-x: center;
          width: 100%;
        }
      </style>
      <div class="photo9">
        <%= cl_image_tag @darktheme9photopath, alt: "Pièce en céramique unique : boîte à bijoux avec calligraphie au pinceau."%>
        <%= photo_update('darktheme9photo', 100, 30, '', '', '.darktheme9photo', "Mise à jour photo d'accueil 9")%>
      </div>
    </div>
    <div class="photo10">
      <%= cl_image_tag @darktheme10photopath, alt: "Le décor calligraphique des céramiques d'Hélène Raynal. Un style contemporain offrant des paysages laissant place à l'imagination et au rêve."%>
      <%= photo_update('darktheme10photo', 100, 30, '', '', '.darktheme10photo', "Mise à jour photo d'accueil 10")%>
    </div>
    <div class="credit-text">
      <span>Céramiste Hélène Raynal</span>
      <span>Photographe Christine Refalo</span>
      <span><a href="https://www.creermonecommerce.fr">Créateur du site Guillaume Crouillère</a></span>
    </div>
  </div>
</div>

<div class="home-text home-text-darktheme hidden-xs hidden-sm">
  <div class="text">
    <div class="text-left col-xs-4">
      <% if user_signed_in? && current_user.admin %>
          <% article_typing("accueil-gauche", "vertical", "markdown1", "live-text1", "input1") %>
          <% @markdown = @markdown1 %>
          <div class="live-text">
            <%= render 'shared/articletyping' %>
          </div>
      <% else %>
        <div class="plain-text">
          <% article_display("accueil-gauche", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>
    </div>
    <div class="text-right col-xs-8">
      <% if user_signed_in? && current_user.admin %>
          <% article_typing("accueil-droit", "vertical", "markdown2", "live-text2", "input2") %>
          <% @markdown = @markdown2 %>
          <div class="live-text">
            <%= render 'shared/articletyping' %>
          </div>
      <% else %>
        <div class="plain-text">
          <% article_display("accueil-droit", "vertical") %>
          <%= @markdown.html_safe %>
        </div>
      <% end %>

    </div>
</div>

<% content_for(:after_js) do %>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ArtGallery",
    "name": "Les <%="#{ENV['MODEL']} de #{ENV['FIRSTNAME'].capitalize} #{ENV['LASTNAME'].capitalize}"%>",
    "description": "Online craft store",
    "openingHours": "Mo-Fr 09:00-18:00",
    "telephone": "<%= ENV['TELEPHONE']%>",
    "url": "<%=request.original_url%>",
    "image": "<%=request.original_url%><%= image_path ENV['HOMEPIC']%>",
    "address":"<%= ENV['ADDRESS'].gsub(/[+]/, ' ')%>",
    "priceRange":"20€ à 800€"
  }
  </script>
<% end %>
